.cronometro-container {
    text-align: center;
    padding: 20px;
    /*background-color: rgb(255, 224, 102);*/
    background-color: darken(whitesmoke,10);
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evitar que el contenido desborde */
  }
  h1{
    margin-top: 5rem;
  }
  .countdown {
    display: inline-block;
    justify-content: center;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
  }
  
  .countdownContainer {
    margin-top: 1rem; /* Ajusta la separación superior */
  }
  
  .time-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .unit {
    margin: 0 10px;
    text-align: center;
  }
  .value {
    font-size: 48px;
    font-weight: bold;
  }
  
  .label {
    font-size: 18px;
    color: #888;
    margin-top: 5px;
  }
  
  
  
  @media (max-width: 576px) {
    .value {
      font-size: 36px;
    }
  
    .label {
      font-size: 14px;
    }
  
    .separator {
      font-size: 36px;
    }
  }
  